[Desktop Entry]

Type=Application
Version=1.0

Name=pdvShell
Name[ar]=pdvShell
Name[ast]=pdvShell
Name[bn]=pdvShell
Name[ca]=pdvShell
Name[cs]=pdvShell
Name[da]=pdvShell
Name[de]=pdvShell
Name[el]=pdvShell
Name[es]=pdvShell
Name[et]=pdvShell
Name[fa]=pdvShell
Name[fi]=pdvShell
Name[fr]=pdvShell
Name[gl]=pdvShell
Name[he]=pdvShell
Name[hr]=pdvShell
Name[hu]=pdvShell
Name[it]=pdvShell
Name[ja]=pdvShell
Name[ko]=pdvShell
Name[ku]=pdvShell
Name[lt]=pdvShell
Name[nb]=pdvShell
Name[nl]=pdvShell
Name[nn]=pdvShell
Name[no]=pdvShell
Name[pl]=pdvShell
Name[pt]=pdvShell
Name[pt_BR]=pdvShell
Name[ro]=pdvShell
Name[ru]=pdvShell
Name[sk]=pdvShell
Name[sl]=pdvShell
Name[sv]=pdvShell
Name[tr]=pdvShell
Name[ug]=pdvShell
Name[uk]=pdvShell
Name[vi]=pdvShell
Name[zh_CN]=pdvShell
Name[zh_TW]=pdvShell

Comment=Simple point of sale written in shell script and SQLite
Comment[ar]=نظام نقاط بيع بسيط مكتوب بلغة Shell وقاعدة بيانات SQLite
Comment[ast]=Simple sistema de puntu de venta escrito en script de shell y SQLite
Comment[bn]=Shell স্ক্রিপ্ট এবং SQLite দিয়ে লেখা একটি সহজ পয়েন্ট অব সেল
Comment[ca]=Senzill sistema de punt de venda escrit en script de shell i SQLite
Comment[cs]=Jednoduchý pokladní systém napsaný v shellovém skriptu a SQLite
Comment[da]=Simpelt kassesystem skrevet i shell-script og SQLite
Comment[de]=Einfache Kassenanwendung, geschrieben in Shell-Skript und SQLite
Comment[el]=Απλό σύστημα σημείου πώλησης γραμμένο σε shell script και SQLite
Comment[es]=Sencillo sistema de punto de venta escrito en script de shell y SQLite
Comment[et]=Lihtne müügikassa, mis on kirjutatud shelli skripti ja SQLite abil
Comment[fa]=سیستم ساده نقطه فروش نوشته‌شده با اسکریپت شل و SQLite
Comment[fi]=Yksinkertainen kassajärjestelmä, joka on kirjoitettu shell-komentosarjalla ja SQLitella
Comment[fr]=Simple système de point de vente écrit en script shell et SQLite
Comment[gl]=Sinxelo sistema de punto de venda escrito en script de shell e SQLite
Comment[he]=מערכת קופה פשוטה שנכתבה ב-Shell וב-SQLite
Comment[hr]=Jednostavan sustav blagajne napisan u shell skripti i SQLiteu
Comment[hu]=Egyszerű pénztárprogram shell szkriptben és SQLite-ban
Comment[it]=Semplice punto vendita scritto in shell script e SQLite
Comment[ja]=シェルスクリプトとSQLiteで作られたシンプルなPOSシステム
Comment[ko]=셸 스크립트와 SQLite로 작성된 간단한 판매 시점 관리 시스템
Comment[ku]=Sîstema firoşgehê ya hêsan ku bi skrîpta shell û SQLite hatiye nivîsandin
Comment[lt]=Paprasta kasos sistema, parašyta naudojant shell scenarijų ir SQLite
Comment[nb]=Enkelt kassasystem skrevet i shellskript og SQLite
Comment[nl]=Eenvoudig verkooppuntsysteem geschreven in shellscript en SQLite
Comment[nn]=Enkelt kassasystem skrive i shellskript og SQLite
Comment[no]=Enkelt kassasystem skrevet i shellskript og SQLite
Comment[pl]=Prosty system sprzedaży napisany w skrypcie powłoki i SQLite
Comment[pt]=Simples frente de caixa escrito em shell script e SQLite
Comment[pt_BR]=Simples frente de caixa escrito em shell script e SQLite
Comment[ro]=Sistem simplu de vânzare scris în script shell și SQLite
Comment[ru]=Простая кассовая система, написанная на shell-скрипте и SQLite
Comment[sk]=Jednoduchý pokladničný systém napísaný v shell skripte a SQLite
Comment[sl]=Preprost sistem prodajnega mesta, napisan v lupinskem skriptu in SQLite
Comment[sv]=Enkelt kassasystem skrivet i shellskript och SQLite
Comment[tr]=Shell betiği ve SQLite ile yazılmış basit satış noktası sistemi
Comment[ug]=Shell قوليازما ۋە SQLite ئارقىلىق يېزىلغان ئاددىي سېتىش نۇقتىسى سىستېمىسى
Comment[uk]=Проста касова система, написана на shell-скрипті та SQLite
Comment[vi]=Hệ thống điểm bán hàng đơn giản được viết bằng shell script và SQLite
Comment[zh_CN]=使用 Shell 脚本和 SQLite 编写的简单销售点系统
Comment[zh_TW]=使用 Shell 指令碼和 SQLite 編寫的簡易銷售點系統

GenericName=pdvShell
GenericName[ar]=pdvShell
GenericName[ast]=pdvShell
GenericName[bn]=pdvShell
GenericName[ca]=pdvShell
GenericName[cs]=pdvShell
GenericName[da]=pdvShell
GenericName[de]=pdvShell
GenericName[el]=pdvShell
GenericName[es]=pdvShell
GenericName[et]=pdvShell
GenericName[fa]=pdvShell
GenericName[fi]=pdvShell
GenericName[fr]=pdvShell
GenericName[gl]=pdvShell
GenericName[he]=pdvShell
GenericName[hr]=pdvShell
GenericName[hu]=pdvShell
GenericName[it]=pdvShell
GenericName[ja]=pdvShell
GenericName[ko]=pdvShell
GenericName[ku]=pdvShell
GenericName[lt]=pdvShell
GenericName[nb]=pdvShell
GenericName[nl]=pdvShell
GenericName[nn]=pdvShell
GenericName[no]=pdvShell
GenericName[pl]=pdvShell
GenericName[pt]=pdvShell
GenericName[pt_BR]=pdvShell
GenericName[ro]=pdvShell
GenericName[ru]=pdvShell
GenericName[sk]=pdvShell
GenericName[sl]=pdvShell
GenericName[sv]=pdvShell
GenericName[tr]=pdvShell
GenericName[ug]=pdvShell
GenericName[uk]=pdvShell
GenericName[vi]=pdvShell
GenericName[zh_CN]=pdvShell
GenericName[zh_TW]=pdvShell

# Exec=/usr/local/bin/pdvshell.sh
Exec=xfce4-terminal --fullscreen -T pdvShell -e "/usr/local/bin/pdvshell.sh"
# Terminal=true
Terminal=false
X-MultipleArgs=false
Icon=pdvshell
Categories=System;
StartupNotify=true


Keywords=pdvshell;pdv;pos;point of sale;sales;cash register;retail;store;inventory;stock;products;customers;payments;receipt;checkout;sqlite;
Keywords[ar]=pdvshell;pdv;pos;نقطة البيع;مبيعات;صندوق;متجر;مخزون;منتجات;عملاء;مدفوعات;إيصال;دفع;sqlite;
Keywords[ast]=pdvshell;pdv;pos;puntu de venta;ventas;caxa;comerciu;tienda;inventariu;productos;clientes;pagos;recibu;sqlite;
Keywords[bn]=pdvshell;pdv;pos;বিক্রয় কেন্দ্র;বিক্রয়;ক্যাশ রেজিস্টার;দোকান;ইনভেন্টরি;পণ্য;গ্রাহক;পেমেন্ট;রসিদ;sqlite;
Keywords[ca]=pdvshell;pdv;pos;punt de venda;vendes;caixa;comerç;botiga;inventari;productes;clients;pagaments;rebut;sqlite;
Keywords[cs]=pdvshell;pdv;pos;prodejní místo;prodej;pokladna;obchod;sklad;produkty;zákazníci;platby;účtenka;sqlite;
Keywords[da]=pdvshell;pdv;pos;salgssted;salg;kasse;butik;lager;produkter;kunder;betalinger;kvittering;sqlite;
Keywords[de]=pdvshell;pdv;pos;point of sale;verkauf;kasse;laden;lager;produkte;kunden;zahlungen;rechnung;quittung;sqlite;
Keywords[el]=pdvshell;pdv;pos;σημείο πώλησης;πωλήσεις;ταμείο;κατάστημα;απόθεμα;προϊόντα;πελάτες;πληρωμές;απόδειξη;sqlite;
Keywords[es]=pdvshell;pdv;pos;punto de venta;ventas;caja;comercio;tienda;inventario;productos;clientes;pagos;recibo;sqlite;
Keywords[et]=pdvshell;pdv;pos;müügikoht;müük;kassa;pood;laovaru;tooted;kliendid;maksed;ostutšekk;sqlite;
Keywords[fa]=pdvshell;pdv;pos;نقطه فروش;فروش;صندوق;فروشگاه;موجودی;محصولات;مشتریان;پرداخت;رسید;sqlite;
Keywords[fi]=pdvshell;pdv;pos;maksupääte;myynti;kassa;kauppa;varasto;tuotteet;asiakkaat;maksut;kuitti;sqlite;
Keywords[fr]=pdvshell;pdv;pos;point de vente;ventes;caisse;commerce;magasin;stock;produits;clients;paiements;reçu;sqlite;
Keywords[gl]=pdvshell;pdv;pos;punto de venda;vendas;caixa;comercio;tenda;inventario;produtos;clientes;pagamentos;recibo;sqlite;
Keywords[he]=pdvshell;pdv;pos;נקודת מכירה;מכירות;קופה;חנות;מלאי;מוצרים;לקוחות;תשלומים;קבלה;sqlite;
Keywords[hr]=pdvshell;pdv;pos;prodajno mjesto;prodaja;blagajna;trgovina;zalihe;proizvodi;kupci;plaćanja;račun;sqlite;
Keywords[hu]=pdvshell;pdv;pos;értékesítési pont;eladás;pénztár;üzlet;készlet;termékek;vásárlók;fizetések;nyugta;sqlite;
Keywords[it]=pdvshell;pdv;pos;punto vendita;vendite;cassa;negozio;magazzino;prodotti;clienti;pagamenti;scontrino;sqlite;
Keywords[is]=pdvshell;pdv;pos;sölustaður;sala;afgreiðslukassi;verslun;birgðir;vörur;viðskiptavinir;greiðslur;kvittun;sqlite;
Keywords[ja]=pdvshell;pdv;pos;販売時点;販売;レジ;店舗;在庫;商品;顧客;支払い;レシート;sqlite;
Keywords[ko]=pdvshell;pdv;pos;판매 시점;판매;계산대;매장;재고;상품;고객;결제;영수증;sqlite;
Keywords[ku]=pdvshell;pdv;pos;cihê firotanê;firotin;kas;dikan;stok;berhem;xerîdar;dayîn;makbûz;sqlite;
Keywords[lt]=pdvshell;pdv;pos;prekybos vieta;pardavimai;kasa;parduotuvė;atsargos;produktai;klientai;mokėjimai;čekis;sqlite;
Keywords[nb]=pdvshell;pdv;pos;salgssted;salg;kasse;butikk;lager;produkter;kunder;betalinger;kvittering;sqlite;
Keywords[nl]=pdvshell;pdv;pos;verkooppunt;verkoop;kassa;winkel;voorraad;producten;klanten;betalingen;bon;sqlite;
Keywords[nn]=pdvshell;pdv;pos;salsstad;sal;kasse;butikk;lager;produkt;kundar;betalingar;kvittering;sqlite;
Keywords[no]=pdvshell;pdv;pos;salgssted;salg;kasse;butikk;lager;produkter;kunder;betalinger;kvittering;sqlite;
Keywords[pl]=pdvshell;pdv;pos;punkt sprzedaży;sprzedaż;kasa;sklep;magazyn;produkty;klienci;płatności;paragon;sqlite;
Keywords[pt]=pdvshell;pdv;pos;ponto de venda;vendas;caixa;comércio;loja;estoque;produtos;clientes;pagamentos;recibo;cupom;sqlite;
Keywords[pt_BR]=pdvshell;pdv;pos;ponto de venda;vendas;caixa;comércio;loja;estoque;produtos;clientes;pagamentos;recibo;cupom;sqlite;
Keywords[ro]=pdvshell;pdv;pos;punct de vânzare;vânzări;casă de marcat;magazin;stoc;produse;clienți;plăți;bon;sqlite;
Keywords[ru]=pdvshell;pdv;pos;точка продаж;продажи;касса;магазин;склад;товары;клиенты;платежи;чек;sqlite;
Keywords[sk]=pdvshell;pdv;pos;predajné miesto;predaj;pokladňa;obchod;sklad;produkty;zákazníci;platby;účtenka;sqlite;
Keywords[sl]=pdvshell;pdv;pos;prodajno mesto;prodaja;blagajna;trgovina;zaloga;izdelki;stranke;plačila;račun;sqlite;
Keywords[sv]=pdvshell;pdv;pos;försäljningsställe;försäljning;kassa;butik;lager;produkter;kunder;betalningar;kvitto;sqlite;
Keywords[tr]=pdvshell;pdv;pos;satış noktası;satış;kasa;mağaza;stok;ürünler;müşteriler;ödemeler;fiş;sqlite;
Keywords[ug]=pdvshell;pdv;pos;سېتىش نۇقتىسى;سېتىش;كاسسا;دۇكان;ئامبار;مەھسۇلاتلار;خېرىدارلار;تۆلەملەر;تالون;sqlite;
Keywords[uk]=pdvshell;pdv;pos;точка продажу;продажі;каса;магазин;склад;товари;клієнти;платежі;чек;sqlite;
Keywords[vi]=pdvshell;pdv;pos;điểm bán hàng;bán hàng;thu ngân;cửa hàng;kho;sản phẩm;khách hàng;thanh toán;biên lai;sqlite;
Keywords[zh_CN]=pdvshell;pdv;pos;销售点;销售;收银台;商店;库存;产品;客户;付款;收据;sqlite;
Keywords[zh_TW]=pdvshell;pdv;pos;銷售點;銷售;收銀台;商店;庫存;產品;客戶;付款;收據;sqlite;



Actions=NewWindow;

[Desktop Action NewWindow]
Name=Backup of pdvShell
Name[ar]=نسخة احتياطية من pdvShell
Name[ast]=Copia de seguridá de pdvShell
Name[bn]=pdvShell-এর ব্যাকআপ
Name[ca]=Còpia de seguretat de pdvShell
Name[cs]=Záloha pdvShell
Name[da]=Sikkerhedskopi af pdvShell
Name[de]=Backup von pdvShell
Name[el]=Αντίγραφο ασφαλείας του pdvShell
Name[es]=Copia de seguridad de pdvShell
Name[et]=pdvShelli varukoopia
Name[fa]=پشتیبان pdvShell
Name[fi]=pdvShell-varmuuskopio
Name[fr]=Sauvegarde de pdvShell
Name[gl]=Copia de seguridade de pdvShell
Name[he]=גיבוי של pdvShell
Name[hr]=Sigurnosna kopija pdvShella
Name[hu]=pdvShell biztonsági mentése
Name[it]=Backup di pdvShell
Name[ja]=pdvShellのバックアップ
Name[ko]=pdvShell 백업
Name[ku]=Paşvekirina pdvShell
Name[lt]=pdvShell atsarginė kopija
Name[nb]=Sikkerhetskopi av pdvShell
Name[nl]=Back-up van pdvShell
Name[nn]=Sikkerheitskopi av pdvShell
Name[no]=Sikkerhetskopi av pdvShell
Name[pl]=Kopia zapasowa pdvShell
Name[pt]=Backup do pdvShell
Name[pt_BR]=Backup do pdvShell
Name[ro]=Copie de siguranță pdvShell
Name[ru]=Резервная копия pdvShell
Name[sk]=Záloha pdvShell
Name[sl]=Varnostna kopija pdvShell
Name[sv]=Säkerhetskopia av pdvShell
Name[tr]=pdvShell yedeği
Name[ug]=pdvShell زاپاس نۇسخىسى
Name[uk]=Резервна копія pdvShell
Name[vi]=Bản sao lưu pdvShell
Name[zh_CN]=pdvShell 备份
Name[zh_TW]=pdvShell 備份

Exec=bash -c "cd $HOME && tar -zcvf pdvshell-config.tar.gz .config/pdvshell/"
Terminal=true

